<div class="Sign_Form">
	<h1> Sign Up</h1>
	<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
	<p>username<br/><%= f.text_field :username  %></p>
	<p>email</br><%= f.text_field :email %></p>
	<p>password</br><%= f.password_field :password %></p>
	<p>password conforamtion<br/> <%= f.password_field :password_confirmation %></p>
	<%= f.submit :SignUp %>
	<% end %>
	<% if @users.errors.any? %>
	<ul class="Signup_Errors">
		<% for mesg in @users.errors.full_messages %>
		<li> *<%= mesg %> </li>
		<% end %>
	</ul>
	<% end %>
</div>