<p>
	<strong>Name:</strong>
	<%= @customer.name %>
</p>

<p>
	<strong>Order:</strong>
</p>
<%= form_for @order do |f| %>
<% if @order.errors.any? %>
<ul class="Signup_Errors">
	<% for mesg in @order.errors.full_messages %>
	<li> *<%= mesg %> </li>
	<% end %>
</ul>
<% end %>
<div style="padding-top: 10px;padding-left: 17px;" >
	<%= collection_select :order, :customer_id, Customer.all, :id, :name%><br/>
	<div style="padding-top: 10px;">
		<%= f.text_field :order_name %>
	</div></br>
	<%=f.datetime_select :order_date%></br>
	<div style="padding-left:15px;padding-top: 10px;">
		<%= f.submit :Save %>
	</div>
</div> 
<% end %>
